.App {
  text-align: center;
}
.lastMsg {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sbar::-webkit-scrollbar {
  width: 5px;
}
.sbar {
  scrollbar-width: thin;
  scrollbar-color: #2681a5;
}
.sbar::-webkit-scrollbar-track {
  background: transparent;
}
.sbar::-webkit-scrollbar-thumb {
  background-color: #2681a5;
  border-radius: 6px;
  border: 3px solid transparent;
}
.sbar::-webkit-scrollbar {
  display: none;
}
.sbar:hover::-webkit-scrollbar {
  display: block;
}
.picker-container {
  position: relative;
  width: 300px;
}
.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: -100%;
  right: 5px;
}
.input-style {
  padding: 7px 30px 7px 10px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 10px;
}
.line-clamp-css {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.animation {
  transition: all;
  animation-duration: 300;
}
/* for the loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.2s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.1s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
